<h1>Listado de Heroes</h1>

<h3 *ngIf="deletedHero; else nothingWasDeleted"
> Héroe borrado <small class="text-danger">{{deletedHero}}</small></h3>

<ng-template #nothingWasDeleted>
  <h3>Ningun héroe ha sido borrado</h3>
</ng-template>

<button *ngIf="heroNames.length > 0" class="btn btn-primary mx-2" (click)="removeLastHero()">
  Borrar último heroe
</button>

<button class="btn btn-primary mx-2" (click)="resetList()">
  Reset list
</button>

<ul class="mt-2 list-group">
  <li *ngFor="let heroName  of heroNames" class="list-group-item">
    {{heroName}}
  </li>

</ul>
